<!DOCTYPE html>
<html>
<head>
    <title>Добавить судью</title>
</head>
<body>
    <h1>Добавить нового судью</h1>
    <form action="/judges" method="post">
        <label for="name">Имя:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        <label for="qualification">Квалификация:</label><br>
        <input type="text" id="qualification" name="qualification"><br><br>
        <input type="submit" value="Сохранить">
    </form>
    <p><a href="/">На главную</a></p>
</body>
</html>
