<!DOCTYPE html>
<html>
<head>
    <title>Судебные дела</title>
</head>
<body>
    <h1>Судебные дела</h1>
    <ul>
        <li><a href="/cases">Список дел</a></li>
        <li><a href="/cases/create">Добавить дело</a></li>
        <li><a href="/parties">Список сторон</a></li>
        <li><a href="/parties/create">Добавить сторону</a></li>
        <li><a href="/judges">Список судей</a></li>
        <li><a href="/judges/create">Добавить судью</a></li>
        <li><a href="/export/cases">Экспорт дел в XML</a></li>
        <li><a href="/import/cases/form">Импорт дел из XML</a></li>
    </ul>
</body>
</html>
